# Ignore everything

/.vs
/x64
/Debug
/GameplayVideos
/Release
/build*/
/out/

ffmpeg

*dll

__TemplateIcon.ico
vc141.pdb
MyTemplate.vstemplate

# Except git tidbits
!.gitignore
!.gitattributes

# The actually needed content
!/Assets/
!/ProjectSettings/
!/Packages/manifest.json

# And maybe some readmes
!/readme.md
!/readme.txt

imgui.ini