.gradle
.idea
**/*.iml
local.properties
build
*~
.externalNativeBuild
libwebp
.DS_Store
**/ndkHelperBin
**/.cxx
display-p3/third_party

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/keystore.properties

/common/bin

/LodeRunnerAndroid/src/main/cpp/Sources
/LodeRunnerAndroid/src/main/assets/Level
/LodeRunnerAndroid/src/main/assets/SFX
/LodeRunnerAndroid/src/main/assets/Texture
