[submodule "common/stb"]
	path = common/stb
	url = https://github.com/nothings/stb.git
[submodule "common/ogg"]
	path = common/ogg
	url = https://github.com/xiph/ogg.git
[submodule "common/vorbis"]
	path = common/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "common/oboe"]
	path = common/oboe
	url = https://github.com/google/oboe.git
